{% extends 'base.html' %}

{% block content %}

{%for message in get_flashed_messages()%}
    
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    

{%endfor%}

<h1>Blog Posts</h1>
</br>

{% for post in posts %}
    <a href="{{ url_for('post', id=post.id) }}" class="post-link">
        <div class="shadow p-3 mb-5 bg-body rounded">
            <h2>{{ post.title }}</h2>
            <small style="display: flex; justify-content: space-between;">
                <span>by: {{ post.poster.name }}</span>
                <span>{{ post.date_posted }}</span>
            </small>
            <br/>
            {{ post.content|safe}} <br/>
            <br/>
        </div>
    </a>
    {% if post.poster_id == current_user.id or current_user.id == 9%}
    <a href="{{ url_for('edit_post', id=post.id) }}" class="btn btn-outline-secondary btn-sm">Editar Post</a>
    <a href="{{ url_for('delete_post', id=post.id) }}" class="btn btn-outline-danger btn-sm">Deletar Post</a>
    {% endif %}

    <br/>
    <br/>
{%endfor%}




{%endblock%}