{% extends 'base.html' %}

{% block content %}
    <h2>Você pesquisou por: {{ searched }}</h2>
    <br/>

    {% if posts %}
        {% for post in posts %}
        <a href="{{ url_for('post', id=post.id) }}" class="post-link">
            <div class="shadow p-3 mb-5 bg-body rounded">
                <h2>{{ post.title }}</h2>
                <small style="display: flex; justify-content: space-between;">
                    <span>by: {{ post.poster.name }}</span>
                    <span>{{ post.date_posted }}</span>
                </small>
                <br/>
                {{ post.content|safe}} <br/>
                <br/>
            </div>
        </a>
        {% if post.poster_id == current_user.id %}
        <a href="{{ url_for('edit_post', id=post.id) }}" class="btn btn-outline-secondary btn-sm">Editar Post</a>
        <a href="{{ url_for('delete_post', id=post.id) }}" class="btn btn-outline-danger btn-sm">Deletar Post</a>
        {% endif %}
    
        <br/>
        <br/>
        {% endfor %}
    {% else %}
        <p>Nenhum resultado encontrado.</p>
    {% endif %}
{% endblock %}
